<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>{% block title %}{% endblock %} - Flask Menu</title>
</head>
<body>

    <div class="menu">
        <nav>
            <ul>
                <!-- url_for também é usado para navegar entre rotas do Flask -->
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('page1') }}">Projetos para o futuro</a></li>
                <li><a href="{{ url_for('page2') }}">O que você gosto de fazer</a></li>
            </ul>
        </nav>
    </div>
    
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    
    <div class="texto">

        <h1>QUEM SOU EU</h1>

        <div>
            <p>Meu nome é Caio Luis, sou aluno do Cotemig Barroca do 3° ano do ensino médio tecnico</p>
        </div>
    </div>
</body>
</html>